/*para aplicar estilos css a la tabla como bordes*/
table {
    border: solid black;
}
/*Aqui he aplicado estilos css a los eleentos de las tablas*/
td,
th,
tr {
    border: solid black;
}
/*Y aqui he aplicado estilos css a los elementos de dentro de las tablas con colores para que quede mejor*/
span {
    background-color: brown;
    color: whitesmoke;
}

#recreo {
    text-align: center;
    background-color: darkorchid;
    color: aliceblue;
}

#davante {
    text-align: center;
    background-color: blue;
    color: white;
}

.horario {
    background-color: darkcyan;
    color: whitesmoke;
}

.programacion {
    background-color: dodgerblue;
    color: whitesmoke;
}

.base {
    background-color: lightsalmon;
}

.ipe {
    background-color: cornflowerblue;
    color: white;
}

.sistemas {
    background-color: hotpink;
}

.entornos {
    background-color: aqua;
}

.sostenibilidad {
    background-color: green;
    color: whitesmoke;

}

.digitalizacion {
    background-color: goldenrod;
}
