/*
Regla general para indicar a todo el contenido de cajas sea border-box
y tambien que los margin y padding sean 0, para que assi los elementos html
puedan ocupar  el  contenido del  documento sin problemas
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/*
Regla de css para indicar al contenedor padre que ocupe el 100% de el contenedor
*/

#container {
    width: 100%;
}

/*
Regla de css para indicar al cuerpo de el contenido que haya una imagen de fondo
y que no se repita,  y su posicion sea hacia abajo, y su tama単o ocupe todo el contenido de el cuerpo
*/

body {
    background-image: url("/TEMA9/proyecto/img/background-image.jpg");
    opacity: 30;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}

/*
Reglas generales para indicar a el h3 que tennga una linea de decoracion  y un  color personalizado,
tambien indicar a algunos h3 especificios, quew se les aplique un  margen interior y exterior especificios
*/

h3 {
    text-decoration: underline;
    color: white;
}

h3:nth-of-type(1) {
    margin-top: 20px;
    margin-left: 30px;
}

h3:nth-of-type(2) {
    margin-top: 20px;
    margin-left: 3%;
    margin-bottom: 10px;
}

h3:nth-of-type(3) {
    margin-left: 3%;
    margin-top: 2%;
}

/*
Aplicar estilos css a la barra de navegacion
*/

nav {
    background-color: black;
    color: white;
    height: 50px;
}

/*
Quitar las vi単etas de decoracion de las listas
*/

ul {
    list-style: none;
}

/*
Indicar a los elementos hijos de ul que se ubiquen a la izquierda , y tenga un margen exterior especifico
*/

li {
    float: left;
    padding: 15px;
}

/*
Indicar a una de los elementos del nav con identificador unico, que se ubique a la derecha
*/

#novedades {
    float: right;
}

/*
Personalizar con un color y quitando decoracion a los enlaces puestos del nav
*/

a {
    color: white;
    text-decoration: none;
}

/*
Aplicar regla css que indique que cuando se pase el cursor del raton por encima del elemento,
se cambie el color, el color de fondo, y haya una animacion o transiccion de dicho cambio de color
*/

a:hover {
    background-color: white;
    color: black;
    transition: 2s;
}

/*
Regla css para personalizar una de las cajas hijas del elemento padre aplicando un color
linear gradiente, y poniendo una sombra de texto, y posicionandola con margenes interiores 
y alineandola al centro
*/

#titulo {
    background-image: radial-gradient(#0fe0bd, #0986ec);
    padding: 2em;
    text-align: center;
    border-bottom: 3px solid black;
    text-shadow: 10px 10px 10px #000000;
}

/*
Aplicamos reglas css a el contenido principal con identificador unico, donde tendra una posicion estatica
*/

#info {
    width: 500px;
    height: 500px;
    margin-top: 20px;
    border: 3px solid black;
    border-radius: 10px;
    margin-left: 20px;
    padding: 10px;
    background-color: #000000;
    color: white;
    position: static;
}

/*
Personalizamos la imagen y que este ubicada a la derecha
*/

#imagen-info {
    float: right;
    width: 80%;
    padding-right: 20%;
    padding-top: 10%;
}

/*
Personalizamos otra seccion, y en su contenido se dividira, por columnas de 3 secciones y color de
fondo gradiente y unos bordes redondeados de decoracion, y aplicamos margenes interiores
*/

#columnas {
    width: 500px;
    height: 70px;
    border: 3px solid black;
    border-radius: 10px;
    column-count: 3;
    background-image: radial-gradient(rgb(240, 14, 138), #000000);
    color: white;
    margin-left: 10px;
}

/*
Aplicar estilos css a elementos html especificos con la etiqueta span
*/

span {
    color: gold;
    text-decoration: underline;
}

aside span {
    color: #000000;
    font-weight: bold;
    text-shadow: 10px 10px 10px #000000;
}

/*
Aplicar estilo css, a la barra lateral de la pagina web y que su posicion sea relativa
*/

aside {
    width: 20%;
    height: 15em;
    float: right;
    margin-top: 5%;
    background-image: radial-gradient(#c2e622b4, #deb887);
    position: relative;
}

/*
Aplicamos estilo css a las imagenes de el aside, para que tenga una rotacion
y se pongan por encima de el elemento html, y su posicion sea absooluta
*/

.imagen {
    width: 30px;
    position: absolute;
    z-index: 2;
    transform: rotate(45deg);
}

/*
En este caso, se aplican estilos css a las cajas, que su posicion sea en linea, y
tengan su tama単o personalizado, tengan sus bordes personalizados, colores, etc
*/

.caja {
    display: inline-block;
    width: 10em;
    height: 5em;
    background-color: whitesmoke;
    border: 3px solid #1888f0;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    padding-top: 1.8em;
    font-weight: bold;
}

/*
Esta norma css, idica que al pasar el raton por encima de los elementos html con la clase caja,
cambia el coplor de fondo, y hay una animacion, de cambio de color, y se va haciendo algo mas grande
el elemento

*/

.caja:hover {
    background-color: #0fe0bd;
    transition: 2s;
    transform: scale(1.2);
}

/*
En esta regla css, estoy indicando que los elementos html de la clase caja, que yo seleccione
mediante el selector css nth-of-type, que tengan de opacidad 0, es decir, que desaparezcan, pero
que mantengan su tama単o, para que haya espacio entre los elementos html
*/

.caja:nth-of-type(3) {
    opacity: 0;
}

.caja:nth-of-type(5) {
    opacity: 0;
}

.caja:nth-of-type(7) {
    opacity: 0;
}

/*
Regla css para editar el footer
*/

footer {
    height: 3em;
    background-color: #000000;
    color: white;
    text-align: center;
    padding-top: 20px;
}