* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h3 {
    margin-top: 20px;
    margin-left: 15px;
    text-decoration: underline;
}

nav {
    background-color: black;
    color: white;
    height: 50px;
}

ul {
    list-style: none;
}

li {
    float: left;
    padding: 15px;
}

#novedades {
    float: right;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    background-color: white;
    color: black;
}

#titulo {
    background-color: rgb(137, 255, 234);
    padding: 2em;
    text-align: center;
}


#info {
    width: 500px;
    height: 200px;
    margin-top: 20px;
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 10px 10px 10px grey;
    margin-left: 20px;
    padding: 10px;
}

img {
    float: right;
    width: 100px;
}

#columnas {
    column-count: 2;
}