* {
    box-sizing: border-box;
}

nav{
    background-color: black;
    color: white;
    height: 50px;
}

ul {
    list-style: none;
    overflow: hidden;
    padding-top: 15px;
}

li{
    float: left;
    padding-left: 30px;
}

a{
    color: white;
    text-decoration: none;
}

a:hover{
    background-color: white;
    color: black;
}